@charset "UTF-8";
/* 포켓몬 메인 css */

@import url('https://webfontworld.github.io/DungGeunMo/DungGeunMo.css');
/* 둥근모꼴 */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
/* font-awsome v6.1.1 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid rgb(255, 210, 230); */
}
:root {
    font-family: 'DungGeunMo';
}
a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #FDA7A7;
    position: sticky;
    top: 0px;
    z-index: 2000;
}

.mainSec,
.mainSec > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainSec {
    gap: 60px;
}
h2 {
    font-size: 40px;
    color: #EC6666;
    margin: 30px 0;
    font-weight: 300;
}
#menuBt {
    cursor: pointer;
}
.menu {
    display: flex;
    /* width: 0; */
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    color: #000;
    border-radius: 0 0 300% 0;
    position: absolute;
    width: 340px;
    height: 500px;
    font-size: 24px;
    gap: 10px;
    top: 62px;
    left: -175px;
    padding: 50px 0 100px 50px;
    box-shadow: 2.266px 3.021px 15.104px 0px rgba(0, 0, 0, 0.25);
    z-index: 0;
    transition: left 0.5s ease-in-out;
    /* position: relative; */
}
.menu.on {
    display: flex;
    z-index: 0;
    left: 0;
    /* transform: translateX(0); */
    /* position: relative; */
}
.catMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    gap: 30px;
    font-size: 32px;
    font-weight: 400;
}
.catMenu a:hover::before {
    content: '\f04b';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 18px;
    padding-right: 10px;
}
.userMenu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #454545;
    font-size: 24px;
}
.userMenu p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 120px;
}
.userMenu p img {
    width: 30px;
    height: 30px;
}
.userMenu p img:nth-of-type(2) {
    width: 28px;
    height: 30px;
}
#monsterBall {
    width: 110px;
    height: 110px;
    position: absolute;
    bottom: 100px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}
/* 몬스터볼 호버시 밝아지게 */
#monsterBall:hover {
    filter: saturate(2.0) brightness(1.2);
}
#lightDarkToggle {
    width: 75px;
    height: 42px;
    background: url(/pokemon/img/llight_mode.png) no-repeat;
    background-size: cover;
    text-indent: -9999px;
    cursor: pointer;
}
#lightDarkToggle.dark {
    background: url(/pokemon/img/dark_mode.png) no-repeat;
    border: none;
}


/* 검색창 */
.searchBar {
    display: flex;
    position: relative;
}
#search {
    width: 433px;
    height: 56px;
    border-radius: 50px;
    box-shadow: 0px 8px 20px 0px rgba(100, 100, 100, 0.25);
    border: none;
    position: relative;
    padding: 0 30px;
    font-family: 'DungGeunMo';
    font-size: 18px;
    /* color: #dbdbdb; */
    /* margin-bottom: 60px; */
}
#search::placeholder {
    color: #9e9e9e;
}
#search.darkSearch::placeholder {
    color: #fff;
}
#searchBt {
    background: url(/pokemon/img/search_icon.png) no-repeat;
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    border: none;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}
.type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    outline: 2px solid #ccc;
    position: relative;
    width: 40vw;

}
.typeTitle {
    font-size: 18px;
    color: #656565;
    background-color: #fff;
    position: absolute;
    top: -15px;
    padding: 5px;
}
.typeGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 30px 0;
    gap: 10px;
    width: 90%;
}
.typeGroup p {
    display: flex;
    padding: 5px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.normal {
    border: 2px solid #605A4E;
    background: #ADA595;
}
.fighting {
    border: 2px solid #7B0E09;
    background: #C02F28;
}
.poison {
    border: 2px solid #AF8BB1;
    background: #853C89;
}
.ground {
    border: 2px solid #875011;
    background: #CB985D;
}
.flying {
    border: 2px solid #4F67CD;
    background: #9AABF2;
}
.bug {
    border: 2px solid #758108;
    background: #9FAE1A;
}
.rock {
    border: 2px solid #DEBC55;
    background: #9D853C;
}
.water {
    border: 2px solid #166FDD;
    background: #669FE6;
}
.steel {
    border: 2px solid #5F5D7A;
    background: #9D9CAD;
}
.ghost {
    border: 2px solid #493564;
    background: #887A9A;
}
.fire {
    border: 2px solid #B84D12;
    background: #F26E25;
}
.electric {
    border: 2px solid #BA8400;
    background: #FEB912;
}
.grass {
    border: 2px solid #3A8B0D;
    background: #54B81C;
}
.ice {
    border: 2px solid #11A7D9;
    background: #7BDAFA;
}
.psychic {
    border: 2px solid #BC1B4C;
    background: #EA5381;
}
.dragon {
    border: 2px solid #A598E2;
    background: #573FC6;
}
.dark {
    border: 2px solid #919191;
    background: #403C38;
}
.fairy {
    border: 2px solid #C96ACA;
    background: #EBA4EC;
}
.typeGroup p:hover {
    opacity: 0.6;
}
.sort {
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    padding: 15px 50px;
}
.cardSec {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 30px 0;
}
.cardOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 276px;
    height: 318px;
    padding: 19px 20px;
    gap: 15px;
    border-radius: 30px;
    background-color: #EDF9ED;
    transition: transform 0.3s ease;
    /* transition: boxshadow 0.3s ease; */
}
.cardOne:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.25);
}

.cardOne:has(.normal:first-child) {
    background: #E7E7E7;
}
.cardOne:has(.fighting:first-child) {
    background: #F2B6B6;
}
.cardOne:has(.poison:first-child) {
    background: #E7D0F0;
}
.cardOne:has(.ground:first-child) {
    background: #F2D7AE;
}
.cardOne:has(.flying:first-child) {
    background: #D0E3FF;
}
.cardOne:has(.bug:first-child) {
    background: #E6F2CE;
}
.cardOne:has(.rock:first-child) {
    background: #F2E0BB;
}
.cardOne:has(.water:first-child) {
    background: #D0E3FF;
}
.cardOne:has(.steel:first-child) {
    background: #E2E2F2;
}
.cardOne:has(.ghost:first-child) {
    background: #E0D0E7;
}
.cardOne:has(.fire:first-child) {
    background: #F2C6A2;
}
.cardOne:has(.electric:first-child) {
    background: #F2E3C1;
}
.cardOne:has(.grass:first-child) {
    background: #D6F2C1;
}
.cardOne:has(.ice:first-child) {
    background: #C1F2F2;
}
.cardOne:has(.psychic:first-child) {
    background: #F2C1D3;
}
.cardOne:has(.dragon:first-child) {
    background: #E3D0F2;
}
.cardOne:has(.dark:first-child) {
    background: #D0D0D0;
}
.cardOne:has(.fairy:first-child) {
    background: #F2E1F2;
}

/* 다크모드 */
body {
    transition: 0.3s;
}
.darkMode {
    background-color: #7E7E7E;
    color: #fff;
}
.darkMenuBtn {
    color: #fff;
}
.darkHeader {
    background-color: #363636;
}
.darkSearch {
    background-color: #363636;
    color: #fff;
}

.cardOne:has(.normal:first-child).darkBtn {
    background: #A1A1A1;
}
.cardOne:has(.fighting:first-child).darkBtn {
    background: #B26767;
}
.cardOne:has(.poison:first-child).darkBtn {
    background: #B39BBF;
}
.cardOne:has(.ground:first-child).darkBtn {
    background: #BFA17B;
}
.cardOne:has(.flying:first-child).darkBtn {
    background: #9CB2DF;
}
.cardOne:has(.bug:first-child).darkBtn {
    background: #B4C39C;
}
.cardOne:has(.rock:first-child).darkBtn {
    background: #BFAE85;
}
.cardOne:has(.water:first-child).darkBtn {
    background: #9CB2DF;
}
.cardOne:has(.steel:first-child).darkBtn {
    background: #A0A0B0;
}
.cardOne:has(.ghost:first-child).darkBtn {
    background: #A396B0;
}
.cardOne:has(.fire:first-child).darkBtn {
    background: #BF8A71;
}
.cardOne:has(.electric:first-child).darkBtn {
    background: #BFA982;
}
.cardOne:has(.grass:first-child).darkBtn {
    background: #A5BFA0;
}
.cardOne:has(.ice:first-child).darkBtn {
    background: #84C0C0;
}
.cardOne:has(.psychic:first-child).darkBtn {
    background: #BF8A97;
}
.cardOne:has(.dragon:first-child).darkBtn {
    background: #B8A0BF;
}
.cardOne:has(.dark:first-child).darkBtn {
    background: #909090;
}
.cardOne:has(.fairy:first-child).darkBtn {
    background: #BF9FBF;
}

.cardOne span:first-of-type {
    width: 100%;
    text-align: left;
}
.cardOne img {
    width: 100px;
    height: 100px;
}
.cardOne span:nth-of-type(2) {
    font-size: 24px;
}
.typeWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.typeWrap > p {
    display: flex;
    padding: 5px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

/* 스크롤 버튼 */
#scrollUp {
    position: fixed;
    z-index: 20;
    /* height: 50px;
    width: 50px; */
    font-size: 60px;
    color: #FDA7A7;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.6;
}
#scrollUp:hover {
    opacity: 1;
}
#scrollUp.darkScrollUp {
    color: #fff;
}