@charset "UTF-8";
/* styles.css */
@import url('https://webfontworld.github.io/DungGeunMo/DungGeunMo.css');
/* 둥근모꼴 */
:root {
  font-family: 'DungGeunMo';
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
  margin: 0;
}
h1 {
  font-size: 25px;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: white;
  padding: 30px 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
}
#questionBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
#pokemonGif {
  height: 100%;
  /* filter: brightness(0) grayscale(100%); */
}
input {
  padding: 10px;
  font-size: 16px;
  margin: 10px 0 20px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}
#score {
  margin-top: 20px;
  font-size: 18px;
}

/* dark */
body.darkMode .container {
  background: #cccccc;
  color: #000000;
}