@charset "UTF-8";
/* 포켓몬 카드 짝맞추기 css */

@import url('https://webfontworld.github.io/DungGeunMo/DungGeunMo.css');
/* 둥근모꼴 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: 'DungGeunMo';
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin: 0;
    background-color: #ffffff;
}
h1 {
    margin-bottom: 30px;
}
.gameContainer {
    text-align: center;
}
.cardGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 20px;
}
.card {
    width: 155px;
    height: 205px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}
.card.flipped {
    transform: rotateY(180deg);
}
.card .front, .card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}
.card .front {
    background: url('/pokemon/img/pokeCard.png') no-repeat center center;
    background-size: cover;
    transform: rotateY(0deg);
}
.card .back {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    border: 5px solid #828282;
}
.card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.card.matched {
    visibility: hidden;
}
.gameComplete {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.restartButton {
    font-family: 'DungGeunMo';
    padding: 10px 20px;
    border: none;
    background-color: #FDA7A7;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    color: #fff;
}
.restartButton:hover {
    opacity: 0.6;
}