@charset "UTF-8";
/* 포켓몬 메인 css */
@import url('https://unpkg.com/nes.css@latest/css/nes.min.css');
/* 픽셀디자인 css */
@import url('https://unpkg.com/nes.css/css/nes-core.min.css');
/* 둥근모꼴 */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
/* font-awsome v6.1.1 */

@font-face {
  font-family: 'SangSangShinb7';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.1/SangSangShinb7.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 이미지 픽셀 */
img {
  image-rendering: pixelated !important;
}

/* 신비는일곱살 폰트 */
/* 라이브러리 */
.nes-btn {
  border-image-repeat: initial;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(107, 107, 107)" /></svg>')
}
.nes-container.is-rounded.is-dark {
  border-image-repeat: initial;
  box-shadow: inset -5px -5px 0px rgb(225, 225, 225);
  border-image-outset: 1;
  background-color: #3d3d3d;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(146, 146, 146)" /></svg>');
}
.nes-container.is-rounded {
  border-radius: 10px;
  border-image-repeat: initial;
  box-shadow: inset -5px -5px 0px rgb(154 154 154);
  border-image-outset: 1;
  background-color: #ffffff;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(107, 107, 107)" /></svg>')
}
.nes-container.is-rounded:hover {
  filter: brightness(0.85) contrast(1.05);
}
.nes-container.is-rounded.is-dark:hover {
  border-radius: 0px;
  filter: brightness(1.25) contrast(1.05);
  /* background-color: #3e3d3a; */
  ;
}

/* 툴팁 */
.tooltip {
  display: none;
  position: absolute;
  top: 110%;
  left: 20px;
  color: #EC6666;
  border: 1px solid #EC6666;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.updateNotice {
  display: block;
  position: absolute;
  top: 52%;
  left: 13px;
  width: 200px;
  line-height: 13px;
  text-align: center;
  color: #EC6666;
  border: 1px solid #EC6666;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid rgb(255, 210, 230); */
}
:root, body {
  font-family: 'DungGeunMo';
  background-color: #f1f1f1;
}
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #b3b3b3;
  position: fixed;
  top: 0px;
  z-index: 2000;
  /* 그림자 */
  box-shadow: 0 0 0px 5px rgb(108, 108, 108);
}

.mainSec {
  padding-top: 62px;
}
.mainSec,
.mainSec > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainSec {
  gap: 70px;
}
h2 {
  font-size: 40px;
  color: #001cec;
  margin: 30px 0;
  font-weight: 300;
}
.menu {
  display: flex;
  /* width: 0; */
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  position: absolute;
  width: 220px;
  height: 420px;
  font-size: 24px;
  gap: 10px;
  top: 66px;
  left: -239px;
  padding: 30px 0 30px 22px;
  z-index: 0;
  transition: left 0.5s ease-in-out;
  /* position: relative; */
}
.menu.on {
  display: flex;
  z-index: 0;
  left: 0;
  /* transform: translateX(0); */
  /* position: relative; */
}
.catMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  gap: 30px;
  font-size: 32px;
  font-weight: 400;
}
.catMenu a:hover::before {
  content: '\f04b';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  padding-right: 10px;
}
.userMenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #454545;
  font-size: 24px;
}
.userMenu p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 120px;
}
.userMenu p img {
  width: 30px;
  height: 30px;
}
.userMenu p img:nth-of-type(2) {
  width: 28px;
  height: 30px;
}
#monsterBall {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 175px;
  right: -124px;
  z-index: 10;
  /* cursor: pointer; */
  animation: blink 1s infinite;
  /* 애니메이션 추가 */
}
/* 몬스터볼 호버시 밝아지게 */
#monsterBall:hover {
  filter: saturate(2.0) brightness(1.2);
  animation: none;
  /* 호버 시 애니메이션 중지 */
}
/* 깜빡이는 애니메이션 정의 */
@keyframes blink {
  0%, 100% {
    filter: saturate(1.0) brightness(1.0);
  }
  25%, 75% {
    filter: saturate(2.3) brightness(1.5);
  }
  50% {
    filter: saturate(1.8) brightness(1.2);
  }
}
#lightDarkToggle {
  width: 75px;
  height: 42px;
  background: url(@/assets/img/llight_mode.png) no-repeat;
  background-size: cover;
  text-indent: -9999px;
  /* cursor: pointer; */
}
body.darkMode #lightDarkToggle {
  background: url(@/assets/img/dark_mode.png) no-repeat;
  border: none;
}


/* 검색창 */
.searchBar {
  display: flex;
  position: relative;
}
#search {
  width: 433px;
  height: 56px;
  box-shadow: 0px -3px 0px 0px rgb(107, 107, 107), 0px 3px 0px 0px rgb(107, 107, 107), 3px 0px 0px 0px rgb(107, 107, 107), -3px 0px 0px 0px rgb(107, 107, 107);
  position: relative;
  padding: 0 30px;
  font-family: 'DungGeunMo';
  font-size: 18px;
  /* color: #dbdbdb; */
  /* margin-bottom: 60px; */
}
#search::placeholder {
  color: #9e9e9e;
}
#search.darkSearch::placeholder {
  color: #fff;
}
#searchBt {
  background: url(/src/assets/img/search_icon.png) no-repeat;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  border: none;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  /* cursor: pointer; */
}
.type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px; */
  outline: 2px solid #ccc;
  position: relative;
  padding: 10px 0;
  width: 60vw;

}
.typeTitle {
  font-size: 24px;
  color: #656565;
  background-color: #f1f1f1;
  position: absolute;
  top: -28px;
  padding: 5px;
}
.typeGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 30px 0;
  gap: 20px;
  width: 90%;
}
.typeGroup p {
  margin: 0;
  display: flex;
  height: 40px;
  border-image-repeat: initial;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.normal {
  background: #ADA595;
}
.fighting {
  background: #C02F28;
}
.poison {
  background: #853C89;
}
.ground {
  background: #CB985D;
}
.flying {
  background: #9AABF2;
}
.bug {
  background: #9FAE1A;
}
.rock {
  background: #9D853C;
}
.water {
  background: #669FE6;
}
.steel {
  background: #9D9CAD;
}
.ghost {
  background: #887A9A;
}
.fire {
  background: #F26E25;
}
.electric {
  background: #FEB912;
}
.grass {
  background: #54B81C;
}
.ice {
  background: #7BDAFA;
}
.psychic {
  background: #EA5381;
}
.dragon {
  background: #573FC6;
}
.dark {
  background: #403C38;
}
.fairy {
  background: #EBA4EC;
}

.sort {
  display: flex;
  width: 100vw;
  justify-content: flex-end;
  padding: 15px 50px;
}
.cardSec {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 30px 0;
}
.searchEmpty {
  font-size: 20px;
}
.cardOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 276px;
  height: 318px;
  gap: 2px;
  padding: 5px 0 0 20px;
}

/* 다크모드 */
body.darkMode,
body.darkMode .typeTitle {
  /* transition: 0.3s; */
  background-color: #313131;
  color: #fff;
}
body.darkMode .menu {
  /* background-color: #424242; */
  background-color: rgba(78, 78, 78, 0.8);
  color: #fff;
}
body.darkMode #search {
  box-shadow: 0px -3px 0px 0px rgb(255, 255, 255), 0px 3px 0px 0px rgb(255, 255, 255), 3px 0px 0px 0px rgb(255, 255, 255), -3px 0px 0px 0px rgb(255, 255, 255);
  background-color: #363636;
  color: #fff;
}

body.darkMode header,
body.darkMode footer {
  background-color: #363636;
  /* 그림자 */
  box-shadow: 0 0 0px 5px rgb(41, 41, 41);
  color: #fff;
}

body.darkMode h2,
body.darkMode .catMenu p,
body.darkMode .userMenu p,
body.darkMode #scrollUp {
  color: #fff;
}

body.darkMode .loading-screen {
  background: rgba(47, 47, 47, 0.8);
}

body.darkMode .tooltip, body.darkMode .updateNotice {
  border: 1px solid #Fff;
  color: #fff;
}

@keyframes blinkDark {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #ffffff;
  }
}


.cardOne > span:first-of-type {
  width: 100%;
  text-align: left;
}
.cardOne img {
  width: 148px;
  /* height: 160px; */
}
.cardOne > span:nth-of-type(2) {
  font-size: 24px;
}
.langEnJp {
  display: flex;
  font-size: 16px;
  gap: 5px;
}
.typeWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.typeWrap > p {
  display: flex;
  /* padding: 5px 25px; */
  justify-content: center;
  align-items: center;
  height: 28px;
  /* border-radius: 15px; */
  color: #fff;
  /* cursor: pointer; */
  transition: 0.3s;
}

/* 스크롤 버튼 */
#scrollUp {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 20;
  font-size: 60px;
  bottom: 40px;
  right: 40px;
  transform: rotate(-90deg);
}
#scrollUp.darkScrollUp {
  color: #fff;
}
#scrollUp > span {
  position: absolute;
  left: 7px;
  bottom: -21px;
}
body.darkMode #scrollUp {
  color: #000;
}



/* 데이터를 다 불러왔을 때 표시할 메시지 */
.endOfListMessage {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  height: 30px;
  font-size: 20px;
}

/* 로딩 */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1999;
}
iframe {
  border: none;
}

/* 반응형 헤더 */

@media (max-width: 577px) {

  h2 {
    font-size: 24px;
  }
  #search {
    width: 70vw;
  }
  #search::placeholder {
    font-size: 14px;
  }
  .type {
    width: 80vw;
    /* overflow-x: scroll; */
  }

  .typeGroup {
    flex-wrap: nowrap;
    overflow-x: scroll;
    /* justify-content: flex-start; */
    padding: 30px 20px;
    gap: 15px;
  }
  .typeGroup::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }
  .typeGroup p {
    display: flex;
    width: 80px;
    white-space: nowrap;
  }

  header {
    width: 100vw;
    padding: 10px 20px;
  }
  #lightDarkToggle,
  body.darkMode #lightDarkToggle {
    width: 55px;
    height: 30px;
    background-size: cover;
  }
  #menuBt {
    width: 30px;
    height: 30px;
  }
  .menu {
    left: -350px;
    width: 250px;
    padding-left: 30px;
    top: 50px;
  }
  .catMenu a {
    font-size: 24px;
  }
  .userMenu p {
    font-size: 18px;
  }
  #monsterBall {
    display: none;
  }
  .gameSet img, .gameSetDark img {
    width: 40px;
    height: 40px;
  }
}